In [2]:
# Write a program using for loop to print from 34 to 45 (45 included)

for number in range(34, 46):  
    print(number)

34
35
36
37
38
39
40
41
42
43
44
45

In [9]:
# Write a program using for loop to print "machinelearning" 50 times 
for number in range(50):
    print("machinelearning")

machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning
machinelearning

In [13]:
# Write a program using for loop to print 21 ,23,25,27

for i in range(21,28,2):
    print(i)

21
23
25
27

In [16]:
#Write a Python program that prints all the numbers from 14 to 37(37 inclusive) except 17 .
#Note : Use 'continue' statement.
#Expected Output : 14 15 16 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37

for i in range(14,38):
    if i == 17:
        continue
    else:
        print(i)

14
15
16
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

In [19]:
# Write a program to print only even numbers from 85 to 100 using for loop
for i in range(85,100):
    if i%2 == 0:
        print("even numbers : ",i)

even numbers :  86
even numbers :  88
even numbers :  90
even numbers :  92
even numbers :  94
even numbers :  96
even numbers :  98

In [37]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 14 and 37
for i in range(14,37):
    if i%7==0 and i%5==0:
        print(i)

35

In [52]:
#Write a Python program which iterates the integers from 14 to 37. 
#For multiples of three print "hello" instead of the number and for the multiples of five print "hi". 
#For numbers which are multiples of both three and five print "goodmorning"
for i in range (14,37):
    if (i%3==0) and (i%5==0):
        print("good morning :",i)
    elif i%3==0:
        print("hello :",i)
    elif i%5==0:
        print("hi :",i)

good morning:  15
hello : 18
hi : 20
hello : 21
hello : 24
hi : 25
hello : 27
good morning:  30
hello : 33
hi : 35
hello : 36

In [66]:
"""
2*1 = 2
2*2 = 4
.
.
.
2*10 = 20
"""
#Write program to print 2 table like above
i=2
for j in range(1,10):
    print(f'{i}*{j} = ', i*j)

2*1 =  2
2*2 =  4
2*3 =  6
2*4 =  8
2*5 =  10
2*6 =  12
2*7 =  14
2*8 =  16
2*9 =  18