In [7]:
#1. Write a Python program to print convert a list into a tuple.
    #Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>

IndentationError: unindent does not match any outer indentation level (<string>, line 4)

In [8]:
x = [1,2]
print(type(x))
y=tuple(x)
print(y)
print(type(y))

<class 'list'>
(1, 2)
<class 'tuple'>

In [32]:
#2. Write a Python program to create a tuple with different data types.
   #date:
   x = ("tuples",3.2, 1)
 Expected Output:
    ('tuples', 3.2, 1)

In [44]:
n=3
lt=[]
for i in range(n):
   x = input("enter data")
   lt.append(x)
print(tuple(lt))

enter data 1
enter data 2
enter data 3

('1', '2', '3')

In [ ]:
3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25

In [45]:
x = 5, 10, 15, 20, 25
x1=tuple(x)
print(type(x1))
print(x1)
for i in x1:
    print(i)

<class 'tuple'>
(5, 10, 15, 20, 25)
5
10
15
20
25

In [ ]:
4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility

In [46]:
x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
for i in x:
    print(i,end="")

volatality

In [ ]:
5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]

In [47]:
x=(1,2,3)
y=list(x)
print(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [ ]:
6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')

In [48]:
x = ("a","b","c","d")
y=list(x)
y.remove("c")
print(tuple(y))

('a', 'b', 'd')

In [ ]:
7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9

In [49]:
x = ("positions")
y=x.strip()
z=[]
for i in y:
    z.append(i)
data=tuple(z)
print(data)
print(len(data))

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
9

In [ ]:
8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}

In [50]:
x = ((2, "w"),(3, "r"))
y=dict(x)
print(y)

{2: 'w', 3: 'r'}

In [ ]:
9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)

In [51]:
x = ("Baskar")
x1=x[::-1]
print(tuple(x1))
y=(5, 10, 15, 20)
y1=y[::-1]
print(tuple(y1))

('r', 'a', 'k', 's', 'a', 'B')
(20, 15, 10, 5)

In [ ]:
10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15

In [52]:
x = 4, 8, 3
y=[]
sum=0
for i in x:
    y.append(i)
    sum=sum+i
print(tuple(y))
print(sum)

(4, 8, 3)
15

In [ ]:
11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))

In [53]:
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
print(x)
print(x[1])
print(x[2])

('Boss', [8, 4, 6], (1, 2, 3))
[8, 4, 6]
(1, 2, 3)

In [ ]:
12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>

In [54]:
x = ("hello")
print(type(x))
y=tuple(x)
print(type(y))

<class 'str'>
<class 'tuple'>

In [ ]:
13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r

In [55]:
x = ('B','a','s','k','a','r')
print("x[0] is :",x[0])
print("x[5] is :",x[5])

x[0] is : B
x[5] is : r

In [ ]:
14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4

In [56]:
x = ("Boss", [8, 4, 6], (1, 2, 3)) 
print("x[0][3] is :", x[0][3])
print("x[1][1] is :", x[1][1])

x[0][3] is : s
x[1][1] is : 4

In [ ]:
15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B

In [57]:
x = ('B','a','s','k','a','r')
print("x[-1] is :", x[-1])
print("x[-6] is :", x[-6])

x[-1] is : r
x[-6] is : B

In [ ]:
16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [58]:
x = (1, 12, 123)
y = (4, 9) 
z=x+y
print("z=x+y:",z)
z1=z*3
print("z*3:",z1)

z=x+y: (1, 12, 123, 4, 9)
z*3: (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [ ]:
17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala

In [59]:
x = ('boss','sai')
for i in x:
    print("Hello",i)

Hello boss
Hello sai

In [ ]:
18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3

In [60]:
x = ('a', 'p', 'p', 'l', 'e')
y=list(x)
z=y.count("p")
z1=y.index("l")
print("Count of p is :",z)
print("Index of l is :",z1)

Count of p is : 2
Index of l is : 3

In [ ]:
19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')

In [61]:
x = (1, [9, 8, 7], "boss")
x[1][2]=77
print(x)

(1, [9, 8, 77], 'boss')

In [ ]:
20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)

In [62]:
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(x)
print(x[2:5])
print(x[0:4])
print(x[4:])
print(x[4:8])
print(x)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)